.DS_Store
.httr-oauth
.RData
.Rdata
.Rhistory
.Rproj.user
.Ruserdata
/.vscode/
/doc/
/Meta/
/README.html/
/tests/
/tmp/
fastreeR.Rproj
inst/script/*.html
vignettes/*.html
vignettes/*.md
vignettes/*.R
/benchmark/vcf/subsets/
/benchmark/benchmark_logs/
